{% extends 'main/base-k.html' %}
{% load staticfiles %}



{% block title_block %}
    Build A Bundle - TESTING
{% endblock %}



{% block header_block %}
    You get a cookie.<br />
    ... or 5.  Enjoi.<br />
{% endblock %}



{% block body_block %}  
<!--First row-->
<div class="row pt-2">
    <div class="col-md-12">  
    <p>
        I ponder of something great,<br />
        my lungs will fill and then deflate,<br />
        they fill with fire, exhale desire, I know it's dire...<br />
        My time today. <br />
    </p>
    </div>
</div>
<!--/.First row-->


{% endblock %}

