{% extends 'main/base-k.html' %}
{% load static %}

{% block title_block %}
Collections
{% endblock %}

{% block main_header_block %}
Document Collection
{% endblock %}


{% block about_header_block %}
<p>
A document is any text-based information supplied to assist the user in understanding, interpreting, calibrating, or otherwise manipulating the data. The document collection contains a Product_Collection label that lists the documents included in the document collection.  Each document in the document collection has a Product_Document label that describes the stated document.
</p>
<p>
For more information, please visit <a href="https://pds.jpl.nasa.gov/pds4/doc/concepts/Concepts_1.9.0.pdf">PDS4 Concepts</a>.
</p>
{% endblock %}

{% block body_block %}

{% endblock %}
