{% extends 'main/base-k.html' %}
{% load staticfiles %}




{% block title_block %}
Tasks
{% endblock %}




{% block main_header_block %}
Tasks for ELSA
{% endblock %}





{% block about_header_block %}
Below we will find a list of Task model objects.  Each Task is associated with atmost 1 task per model object.  Each Task model object has a projected start time, a projected end time, a list of possible prerequisite material (if necessary), and a description of the task.  Any other associated materials are extra.
{% endblock %}








{% block body_block %}

{% endblock %}
