{% extends 'elsa/base-k.html' %}
{% load static %}

{% block title_block %}
Contacts
{% endblock %}

{% block main_header_block %}
Contact Us.
{% endblock %}

{% block body_block %}
<!--First row-->
<div class="row">
    <!--First column-->
    <div class="col-md-4">
        <img src="https://www.nasa.gov/images/content/256357main_Symbols1-xltn.jpg">
    </div>
    <!--Second column-->
    <div class="col-md-8">
        <h3><a href="https://pds-atmospheres.nmsu.edu">Planetary Atmospheres Node</a></h3>
        <p>
            Astronomy Department<br/>
            New Mexico State University<br/>
            P.O. Box 30001, Dept 4500<br/>
            Las Cruces, NM 88003<br/>
        </p>
    </div>
</div>
<!--/.First row-->
<hr/>
<!--Second row-->
<div class="row">
    <ul>
    {% for contact in object_list %}
    <!--Column One of Many-->
    <div class="col-md-3">
        <li>{{ contact }}</li>
    </div>
    <!--/.Column One of Many-->
    {% endfor %}
    </ul>
</div>
<!--/.Second row-->
{% endblock %}
